.bx.bx-bell {
    position: absolute;
    bottom: 40px;
    right: 40px;
    height: 60px;
    width: 60px;
    background-color: var(--colorAzul);
    border-radius: 50%;
    margin: 0 12px 12px 0;
    color: var(--colorBlanco);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 5;
}

.bx.bx-bell:hover {
    background-color: var(--colorAzulOscuro);
    color: var(--colorNaranja)
}